body{
    background-color: rgb(58, 51, 51);
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.heading{
    text-align: center;
    color: #fff;
    margin-top: 100px;
}
.paragraph{
    text-align: center;
    color: rgb(139, 122, 122);
}
.img{
    margin-top: 30px;
    margin-left: 30px;
}
.menu{
    list-style-type: none;
    display: flex;
}
.headingg{
    color: #fff;
    margin-left: 30px;
}
.parag{
    color: #fff;
    margin-left: 30px;
}
.dollar{
    color: #fff;
    margin-left: 30px;
    font-size: large;
}
.number{
    color: #fff;
    font-size: xx-large;
}
.pimg{
    margin-left: 30px;
}
.menu_item1{
    height: 601px;
    width: 266px;
    background-color: gold;
    margin-right: 10px;
}
.menu_item2{
    height: 601px;
    width: 266px;
    background-color: skyblue;
    margin-right: 10px;
}
.menu_item3{
    height: 601px;
    width: 266px;
    background-color: rgb(104, 187, 219);
    margin-right: 10px;
}
.menu_item4{
    height: 601px;
    width: 266px;
    background-color: #979797;
}
.btn1{
    padding: 10px 49px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    border-radius: 7px;
    box-shadow: 10px 10px 10px rgb(133, 122, 62);
}
.btn1:hover{
    background-color: rgb(241, 232, 92);
    color: rgb(138, 133, 133);
}
.btn2{
    padding: 10px 49px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
    border-radius: 7px;
}
.btn2:hover{
    background-color: rgb(143, 217, 252);
    color: rgb(139, 124, 124);
}
.btn3{
    padding: 10px 49px;
    text-decoration: none;
    color: rgb(53, 93, 109);
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
    border-radius: 7px;
}
.btn3:hover{
    background-color: rgb(112, 216, 248);
    color: rgb(250, 246, 246);
}
.btn4{
    padding: 10px 49px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    box-shadow: 10px 10px 10px rgb(70, 69, 69);
    border-radius: 7px;
}
.btn4:hover{
    background-color: rgb(146, 145, 145);
    color: rgb(226, 221, 221);
}